<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246853441241-86o5t78vc8dh2udo4cqsbdo9falc1lnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246853441241-86o5t78vc8dh2udo4cqsbdo9falc1lnq</string>
	<key>API_KEY</key>
	<string>AIzaSyAT7c0nPVWf3TabNcLC3lsNWooESZmynMk</string>
	<key>GCM_SENDER_ID</key>
	<string>246853441241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcinplinta.wydatki</string>
	<key>PROJECT_ID</key>
	<string>wydatki-c72f3</string>
	<key>STORAGE_BUCKET</key>
	<string>wydatki-c72f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246853441241:ios:27e9619569c6a0030ad0c8</string>
</dict>
</plist>